

.wrap {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

p.form-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

form {
    width: 250px;
    margin: 0 auto;
}

form.login input[type="text"],
form.login input[type="password"] {
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFFFFF;
    outline: 0;
}

form.login input[type="submit"] {
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.login input[type="submit"]:hover {
    transition: background-color 0.5s ease;
}

form.login .remember-forgot {
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
}

form.login .forgot-pass-content {
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

form.login label,
form.login a {
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

form.login a {
    transition: color 0.5s ease;
}

form.login a:hover {
    color: #2ecc71;
}

.pr-wrap {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

.show-pass-reset {
    display: block !important;
}

.pass-reset {
    margin: 0 auto;
    width: 250px;
    position: relative;
    margin-top: 22%;
    z-index: 999;
    background: #FFFFFF;
    padding: 20px 15px;
}

.pass-reset label {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
}

.pass-reset input[type="email"] {
    width: 100%;
    margin: 5px 0 0 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #000000;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #000000;
    outline: 0;
}

.pass-reset input[type="submit"] {
    width: 100%;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

.pass-reset input[type="submit"]:hover {
    transition: background-color 0.5s ease;
}

.posted-by {
    position: absolute;
    bottom: 26px;
    margin: 0 auto;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.66);
    padding: 10px;
    left: 45%;
}

/*Avatar*/

.picture{
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}


/*Admin*/
.navbar.bg-light {
    background-color: #51b5b3 !important;
    transition: ease 0.5s;
    z-index: 1;
}
.user-profile {
    width: 50px;
    height: 50px;
    background-color: #f1f1f1;
}
.navbar .menu-bar {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}
.navbar .menu-bar .bars {
    position: relative;
    top: 50%;
    width: 30px;
    height: 2px;
    background-color: #fff;
}
.navbar .menu-bar .bars::after {
    content: "";
    position: absolute;
    bottom: -8px;
    width: 100%;
    height: 2px;
    background-color: #fff;
}
.navbar .menu-bar .bars::before {
    content: "";
    position: absolute;
    top: -8px;
    width: 100%;
    height: 2px;
    background-color: #fff;
}
.navbar ul.navbar-nav li.nav-item.ets-right-0 .dropdown-menu {
    left: auto;
    right: 0;
    position: absolute;
}
.side-bar {
    position: fixed;
    top: 81px;
    left: 0;
    padding: 15px;
    display: inline-block;
    width: 100px;
    background-color: #fff;
    box-shadow: 0 0 8px #ccc;
    height: 100vh;
    transition: ease 0.5s;
    overflow-y: auto;
}
.main-body-content {
    display: inline-block;
    padding: 15px 15px 15px 100px;
    background-color: #eef4fb;
    height: 100vh;
    transition: ease 0.5s;
}
.ets-pt {
    padding-top: 100px;
}
.main-admin.show-menu .side-bar {
    width: 250px;
}

.main-admin.show-menu .main-body-content {
    padding-left: 265px;
}
.main-admin.show-menu .navbar .menu-bar .bars {
    width: 15px;
}
.main-admin.show-menu .navbar .menu-bar .bars::after {
    width: 10px;
}
.main-admin.show-menu .navbar .menu-bar .bars::before {
    width: 25px;
}
.main-admin.show-menu .side-bar-links {
    opacity: 1;
}
.main-admin.show-menu .side-bar .side-bar-icons {
    opacity: 0;
}
/**** end effacts ****/
.side-bar .side-bar-links {
    opacity: 0;
    transition: ease 0.5s;
}
.side-bar .side-bar-links ul.navbar-nav li a {
    font-size: 14px;
    color: #000;
    font-weight: 500;
    padding: 10px;
}
.side-bar .side-bar-links ul.navbar-nav li a i {
    font-size: 20px;
    color: #8ac1f6;
}
.side-bar .side-bar-links ul.navbar-nav li a:hover,
.side-bar-links ul.navbar-nav li a:focus {
    text-decoration: none;
    background-color: #8ac1f6;
    color: #fff;
}
.side-bar .side-bar-links ul.navbar-nav li a:hover i {
    color: #fff;
}
.side-bar .side-bar-logo img {
    width: 100px;
    height: 100px;
}
.side-bar .side-bar-icons {
    position: absolute;
    top: 20px;
    right: 0;
    width: 100px;
    opacity: 1;
    transition: ease 0.5s;
}
.side-bar .side-bar-icons .side-bar-logo img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.side-bar .side-bar-icons .side-bar-logo h5 {
    font-size: 14px;
}
.side-bar .side-bar-icons .set-width {
    color: #000;
    font-size: 32px;
}
.side-bar .side-bar-icons .set-width:hover,
.side-bar .side-bar-icons .set-width:focus {
    color: #8ac1f6;
    text-decoration: none;
}