{% extends 'base.html.twig' %}
{% block title %}Edition d'une série
{% endblock %}
{% form_theme form 'serie/_collection.html.twig' %}
{% block body %}
    <div class="container">
		<h1>Editer : {{serie.title}}</h1>

		{{ form_start(form) }}

		{{ form_widget(form) }}

		<button type="submit" class="btn btn-primary">Modifier la série</button>

		{{ form_end(form) }}
	</div>
{% endblock %}

