{% extends "base.html.twig" %}
{% block title %} Films{% endblock %}
{% block message %}{% endblock %}
{% block body %}
    <div class="container">
                    <div class="row">

                        <div class="category_section films">
                            <div class="article_title header_pink">
                                <h2><a href="films.html" target="_self">FILMS</a></h2>
                            </div>
                            <!--  Section -->

                            <div class="category_article_wrapper">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="category_article_body">
                                            <div class="top_article_img">
                                                <a href="item.html" target="_self"><img class="img-responsive" src="/img/star_wars.jpg" alt="feature-top">
                                                </a>
                                            </div>
                                            <!-- top_article_img -->

                                            <span class="tag pink"><a href="films.html" target="_self">FILMS</a></span>

                                            <div class="category_article_title">

                                                <h2><a href="item.html" target="_self">La Guerre des étoiles </a></h2>
                                            </div>

                                            <div class="entity_rating">
                                                <i class="fa fa-star-half-full"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>

                                            </div>
                                            <!-- entity_rating -->

                                            <div class="category_article_date"><a href="#">23 Oct - 2018</a>, par: <a href="#">Admin</a></div>
                                            <!-- category_article_title -->

                                            <div class="category_article_content">
                                                Il y a bien longtemps, dans une galaxie très lointaine... La guerre civile fait rage entre l'Empire galactique et l'Alliance rebelle. Capturée par les troupes de choc de l'Empereur menées par le sombre et impitoyable Dark Vador, la princesse Leia Organa dissimule les plans de l’Étoile Noire, une station spatiale invulnérable, à son droïde R2-D2 avec pour mission de les remettre au Jedi Obi-Wan Kenobi. Accompagné de son fidèle compagnon, le droïde de protocole C-3PO, R2-D2 s'échoue sur la planète Tatooine et termine sa quête chez le jeune Luke Skywalker. Rêvant de devenir pilote mais confiné aux travaux de la ferme, ce dernier se lance à la recherche de ce mystérieux Obi-Wan Kenobi, devenu ermite au cœur des montagnes désertiques de Tatooine...
                                            </div>
                                            <!-- category_article_content -->

                                            <div class="media_social">
                                                <span><i class="fa fa-comments-o"></i><a href="#">4</a> Commentaires</span>
                                            </div>
                                            <!-- media_social -->

                                        </div>
                                        <!-- category_article_body -->

                                    </div>
                                    <!-- col-md-6 -->

                                    <div class="col-md-4">
                                        <div class="category_article_body">
                                            <div class="top_article_img">
                                                <a href="item.html" target="_self">
                                                    <img class="img-responsive" src="/img/rencontres.jpg" alt="feature-top">
                                                </a>
                                            </div>
                                            <!-- top_article_img -->

                                            <span class="tag pink"><a href="films.html" target="_self">FILMS</a></span>

                                            <div class="category_article_title">
                                                <h2><a href="item.html" target="_self">Rencontres du troisième type </a>
                                                </h2>
                                            </div>

                                            <div class="entity_rating">
                                                <i class="fa fa-star-half-full"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>

                                            </div>

                                            <div class="category_article_date"><a href="#">23 Oct - 2018</a>, par: <a href="#">Admin</a></div>
                                            <!-- category_article_title -->

                                            <div class="category_article_content">
                                                Des faits étranges se produisent un peu partout dans le monde : des avions qui avaient disparu durant la Seconde Guerre mondiale sont retrouvés au Mexique en parfait état de marche, un cargo est découvert échoué au beau milieu du désert de Gobi. Dans l'Indiana, pendant qu'une coupure d'électricité paralyse la banlieue, Roy Neary, un réparateur de câbles, voit une "soucoupe volante" passer au-dessus de sa voiture. D'autres personnes sont également témoins de ce type de phénomène : Barry Guiler, un petit garçon de quatre ans, est réveillé par le bruit de ses jouets qui se mettent en route. Cherchant à savoir d'où proviennent ces ovnis, Roy Neary se heurte aux rigoureuses consignes de silence imposées par le gouvernement fédéral. Obsédé par ce qu'il a vu et hanté par une image de montagne qu'il essaie désespérément de reconstituer, il est abandonné par sa femme Ronnie et ses enfants. Il n'y a que Jillian, la mère de Barry, qui le comprenne.
                                            </div>
                                            <!-- category_article_content -->

                                            <div class="media_social">

                                                <span><i class="fa fa-comments-o"></i><a href="#">4</a> Commentaires</span>
                                            </div>
                                            <!-- media_social -->

                                        </div>
                                        <!-- category_article_body -->

                                    </div>


                                    <div class="col-md-4">
                                        <div class="category_article_body">
                                            <div class="top_article_img">
                                                <a href="item.html" target="_self">
                                                    <img class="img-responsive" src="/img/planet_of_the_apes.jpg" alt="feature-top">
                                                </a>
                                            </div>
                                            <!-- top_article_img -->

                                            <span class="tag pink"><a href="films.html" target="_self">FILMS</a></span>

                                            <div class="category_article_title">
                                                <h2><a href="item.html" target="_self">Le Secret de la Planète des Singes </a>
                                                </h2>

                                            </div>
                                            <div class="entity_rating">
                                                <i class="fa fa-star-half-full"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>

                                            </div>
                                            <div class="category_article_date"><a href="#">23 Oct - 2018</a>, par: <a href="#">Admin</a></div>
                                            <!-- category_article_title -->


                                            <div class="category_article_content">
                                                L'astronaute Brent est envoyé au secours de Taylor, mais s'écrase à son tour sur la "planète des singes". Cherchant à retrouver son compagnon avec l'aide de Nova, il suit sa trace jusque dans la "zone interdite" où il découvre une société de mutants humains télépathes.
                                            </div>
                                            <!-- category_article_content -->

                                            <div class="media_social">

                                                <span><i class="fa fa-comments-o"></i><a href="#">4</a> Commentaires</span>
                                            </div>
                                            <!-- media_social -->

                                        </div>
                                        <!-- category_article_body -->

                                    </div>
                                    <!-- col-md-6 -->

                                </div>
                                <!-- row -->

                            </div>
                            <!-- category_article_wrapper -->


                        </div>



                        <div class="category_section films">

                            <!--  Section -->

                            <div class="category_article_wrapper">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="category_article_body">
                                            <div class="top_article_img">
                                                <a href="item.html" target="_self"><img class="img-responsive" src="/img/star_wars.jpg" alt="feature-top">
                                                </a>
                                            </div>
                                            <!-- top_article_img -->

                                            <span class="tag pink"><a href="films.html" target="_self">FILMS</a></span>

                                            <div class="category_article_title">
                                                <h2><a href="item.html" target="_self">La Guerre des étoiles </a></h2>
                                            </div>
                                            <div class="entity_rating">
                                                <i class="fa fa-star-half-full"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>

                                            </div>
                                            <div class="category_article_date"><a href="#">23 Oct - 2018</a>, par: <a href="#">Admin</a></div>
                                            <!-- category_article_title -->

                                            <div class="category_article_content">
                                                Il y a bien longtemps, dans une galaxie très lointaine... La guerre civile fait rage entre l'Empire galactique et l'Alliance rebelle. Capturée par les troupes de choc de l'Empereur menées par le sombre et impitoyable Dark Vador, la princesse Leia Organa dissimule les plans de l’Étoile Noire, une station spatiale invulnérable, à son droïde R2-D2 avec pour mission de les remettre au Jedi Obi-Wan Kenobi. Accompagné de son fidèle compagnon, le droïde de protocole C-3PO, R2-D2 s'échoue sur la planète Tatooine et termine sa quête chez le jeune Luke Skywalker. Rêvant de devenir pilote mais confiné aux travaux de la ferme, ce dernier se lance à la recherche de ce mystérieux Obi-Wan Kenobi, devenu ermite au cœur des montagnes désertiques de Tatooine...
                                            </div>
                                            <!-- category_article_content -->

                                            <div class="media_social">

                                                <span><i class="fa fa-comments-o"></i><a href="#">4</a> Commentaires</span>
                                            </div>
                                            <!-- media_social -->

                                        </div>
                                        <!-- category_article_body -->

                                    </div>
                                    <!-- col-md-6 -->

                                    <div class="col-md-4">
                                        <div class="category_article_body">
                                            <div class="top_article_img">
                                                <a href="item.html" target="_self">
                                                    <img class="img-responsive" src="/img/rencontres.jpg" alt="feature-top">
                                                </a>
                                            </div>
                                            <!-- top_article_img -->

                                            <span class="tag pink"><a href="films.html" target="_self">FILMS</a></span>

                                            <div class="category_article_title">
                                                <h2><a href="item.html" target="_self">Rencontres du troisième type </a>
                                                </h2>

                                            </div>

                                            <div class="entity_rating">
                                                <i class="fa fa-star-half-full"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>

                                            </div>
                                            <div class="category_article_date"><a href="#">23 Oct - 2018</a>, par: <a href="#">Admin</a></div>
                                            <!-- category_article_title -->

                                            <div class="category_article_content">
                                                Des faits étranges se produisent un peu partout dans le monde : des avions qui avaient disparu durant la Seconde Guerre mondiale sont retrouvés au Mexique en parfait état de marche, un cargo est découvert échoué au beau milieu du désert de Gobi. Dans l'Indiana, pendant qu'une coupure d'électricité paralyse la banlieue, Roy Neary, un réparateur de câbles, voit une "soucoupe volante" passer au-dessus de sa voiture. D'autres personnes sont également témoins de ce type de phénomène : Barry Guiler, un petit garçon de quatre ans, est réveillé par le bruit de ses jouets qui se mettent en route. Cherchant à savoir d'où proviennent ces ovnis, Roy Neary se heurte aux rigoureuses consignes de silence imposées par le gouvernement fédéral. Obsédé par ce qu'il a vu et hanté par une image de montagne qu'il essaie désespérément de reconstituer, il est abandonné par sa femme Ronnie et ses enfants. Il n'y a que Jillian, la mère de Barry, qui le comprenne.
                                            </div>
                                            <!-- category_article_content -->

                                            <div class="media_social">

                                                <span><i class="fa fa-comments-o"></i><a href="#">4</a> Commentaires</span>
                                            </div>
                                            <!-- media_social -->

                                        </div>
                                        <!-- category_article_body -->

                                    </div>


                                    <div class="col-md-4">
                                        <div class="category_article_body">
                                            <div class="top_article_img">
                                                <a href="item.html" target="_self">
                                                    <img class="img-responsive" src="/img/planet_of_the_apes.jpg" alt="feature-top">
                                                </a>
                                            </div>
                                            <!-- top_article_img -->

                                            <span class="tag pink"><a href="films.html" target="_self">FILMS</a></span>

                                            <div class="category_article_title">
                                                <h2><a href="item.html" target="_self">Le Secret de la Planète des Singes </a>
                                                </h2>

                                            </div>
                                            <div class="entity_rating">
                                                <i class="fa fa-star-half-full"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>

                                            </div>
                                            <div class="category_article_date"><a href="#">23 Oct - 2018</a>, par: <a href="#">Admin</a></div>
                                            <!-- category_article_title -->

                                            <div class="category_article_content">
                                                L'astronaute Brent est envoyé au secours de Taylor, mais s'écrase à son tour sur la "planète des singes". Cherchant à retrouver son compagnon avec l'aide de Nova, il suit sa trace jusque dans la "zone interdite" où il découvre une société de mutants humains télépathes.
                                            </div>
                                            <!-- category_article_content -->

                                            <div class="media_social">

                                                <span><i class="fa fa-comments-o"></i><a href="#">4</a> Commentaires</span>
                                            </div>
                                            <!-- media_social -->

                                        </div>
                                        <!-- category_article_body -->

                                    </div>
                                    <!-- col-md-6 -->

                                </div>
                                <!-- row -->

                            </div>
                            <!-- category_article_wrapper -->


                        </div>



                    </div>
                    <!-- row -->
                    <nav aria-label="Page navigation" class="pagination_section">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next" class="active"> <span aria-hidden="true">&raquo;</span> </a>
                            </li>
                        </ul>
                    </nav>

                </div>
                <!-- container -->
{% endblock %}
