{% extends "base.html.twig" %}
{% block title %}
    Accueil
{% endblock %}
{% block message %}
    <p class="message">
        Vous connaissez une série, un film ou un livre qui n’est pas dans notre catalogue ? N’hésitez pas à en
        <a href="" id="raj">RAJOUTER !!!
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        </a>
    </p>
{% endblock %}


{% block body %}
    <section id="category_section" class="category_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="category_section news">
                        <div class="article_title header_purple">
                            <h2>
                                <a href="index.html" target="_self">Récemment ajoutés</a>
                            </h2>
                        </div>
                        <!----article_title------>
                        <div class="category_article_wrapper">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="top_article_img">
                                        <a href="item.html" target="_self"><img class="img-responsive" src="/img/battlestar_galactica2.jpg" alt="feature-top">
                                        </a>
                                    </div>
                                    <!----top_article_img------>
                                </div>
                                <div
                                    class="col-md-6">
                                    <!--<a href="news.html"><span class="tag purple">News</span></a>-->

                                    <div class="category_article_title">
                                        <h2>
                                            <a href="item.html" class="titre-center" target="_self">Battlestar Galactica</a>
                                        </h2>
                                    </div>
                                    <span class="tag blue">
                                        <a href="series.html" target="_self">SERIES</a>
                                    </span>
                                    <!----category_article_title------>
                                    <div class="category_article_date">
                                        <a href="#">23 Oct - 2018</a>
                                        <a class="author-right" href="#">Admin</a>
                                    </div>
                                    <!----category_article_date------>
                                    <div class="category_article_content">
                                        Les cylons, robots humanoïdes créés par les humains et devenus ennemis jurés de ceux-ci, ont complètement disparu de l'univers connu depuis la signature d'une trêve il y a une quarantaine d'années. Grâce à ce répit, les humains ont reconstruit leurs mondes (les douze Colonies de Kobol), créant de nouveaux vaisseaux et vivant désormais dans une certaine insouciance du passé. Le vieux Battlestar Galactica qui a rendu de fiers services lors de la première guerre contre les Cylons est sur le point d'être démilitarisé et transformé en musée.
                                    </div>
                                    <div class="media_social">
                                        <span>
                                            <i class="fa fa-comments-o"></i>
                                            <a href="#">4</a>
                                            Commentaires</span>
                                    </div>

                                </div>
                                <p class="divider"></p>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="top_article_img">
                                        <a href="item.html" target="_self"><img class="img-responsive" src="/img/star_wars.jpg" alt="feature-top">
                                        </a>
                                    </div>
                                    <!----top_article_img------>
                                </div>
                                <div
                                    class="col-md-6">
                                    <!--<a href="news.html"><span class="tag purple">News</span></a>-->

                                    <div class="category_article_title">
                                        <h2>
                                            <a href="item.html" class="titre-center" target="_self">La Guerre des étoiles</a>
                                        </h2>
                                    </div>
                                    <span class="tag pink">
                                        <a href="films.html" target="_self">FILMS</a>
                                    </span>

                                    <!----category_article_title------>
                                    <div class="category_article_date">
                                        <a href="#">23 Oct - 2018</a>
                                        <a class="author-right" href="#">Admin</a>
                                    </div>
                                    <!----category_article_date------>
                                    <div class="category_article_content">
                                        Il y a bien longtemps, dans une galaxie très lointaine... La guerre civile fait rage entre l'Empire galactique et l'Alliance rebelle. Capturée par les troupes de choc de l'Empereur menées par le sombre et impitoyable Dark Vador, la princesse Leia Organa dissimule les plans de l’Étoile Noire, une station spatiale invulnérable, à son droïde R2-D2 avec pour mission de les remettre au Jedi Obi-Wan Kenobi. Accompagné de son fidèle compagnon, le droïde de protocole C-3PO, R2-D2 s'échoue sur la planète Tatooine et termine sa quête chez le jeune Luke Skywalker. Rêvant de devenir pilote mais confiné aux travaux de la ferme, ce dernier se lance à la recherche de ce mystérieux Obi-Wan Kenobi, devenu ermite au cœur des montagnes désertiques de Tatooine...

                                    </div>
                                    <!----category_article_content------>
                                    <div class="media_social">
                                        <span>
                                            <i class="fa fa-comments-o"></i>
                                            <a href="#">4</a>
                                            Commentaires</span>
                                    </div>


                                    <!----media_social------>
                                </div>
                                <p class="divider"></p>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="top_article_img">
                                        <a href="item.html" target="_self"><img class="img-responsive" src="/img/la-planete-des-singes.jpg" alt="feature-top">
                                        </a>
                                    </div>
                                    <!----top_article_img------>
                                </div>
                                <div
                                    class="col-md-6">
                                    <!--<a href="news.html"><span class="tag purple">News</span></a>-->

                                    <div class="category_article_title">
                                        <h2>
                                            <a href="item.html" class="titre-center" target="_self">La Planète des singes</a>
                                        </h2>
                                    </div>
                                    <span class="tag orange">
                                        <a href="books.html" target="_self">LIVRES</a>
                                    </span>
                                    <!----category_article_title------>
                                    <div class="category_article_date">
                                        <a href="#">23 Oct - 2018</a>
                                        <a class="author-right" href="#">Admin</a>
                                    </div>
                                    <!----category_article_date------>
                                    <div class="category_article_content">
                                        Y’a-t-il des êtres humains ailleurs que dans notre galaxie ? C'est la question que se posent le professeur Antelle, Arthur Levain, son second, et le journaliste Ulysse Mérou, lorsque; de leur vaisseau spatial , ils observent le paysage d'une planète proche de Bételgeuse: on y aperçoit des villes, les routes curieusement semblables à celles de notre Terre. Après s'y être posés, les trois hommes découvrent que la planète est habitée par des singes. Ceux-ci s'emparent d'Ulysse Mérou et se livrent sur lui à des expé-riences. Il faudra que le journaliste fasse, devant les singes, la preuve de son humanité…

                                    </div>
                                    <!----category_article_content------>
                                    <div class="media_social">
                                        <span>
                                            <i class="fa fa-comments-o"></i>
                                            <a href="#">4</a>
                                            Commentaires</span>
                                    </div>
                                </div>

                            </div>


                        </div>


                    </div>

                </div>


            </div>
            <!-- Row -->

            <nav aria-label="Page navigation" class="pagination_section">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#" aria-label="Next" class="active">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
        <!-- Container -->

    </section>
{% endblock %}
